@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap&family=Raleway:wght@600');

:root {
    --primary-color: #1a1a1a;
    --secondary-color: #ff4d4d;
    --tertiary-color: #9c7cf4;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

.custom-container {
    background-color: var(--primary-color);
    color: #ffffff;
    min-height: 80vh;
}

.custom-btn {
    color: #ffffff;
    background-color: var(--secondary-color);
}

.custom-btn:hover {
    color: #ffffff;
    background-color: var(--tertiary-color);
    transition: color .5s ease, background-color .5s ease;
}