.slider-container {
    background-color: var(--primary-color);
}

.slider-title-container {
    height: 20vh;
}

.slider-title {
    color: var(--tertiary-color);
}

.custom-carousel-item {
    height: 80vh;
}

.custom-carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.custom-carousel-caption {
    color: var(--primary-color);
}